/ Nav
%nav#nav
  %ul.container
    %li
      %a{:href => "#top"} Inicio
    %li
      %a{:href => "#docs"} Documentos
    %li
      %a{:href => "#contact"} Contacto
/ Home
.wrapper.style1.first
  %article#top.container
    .row
      .4u{:class => "12u(mobile) -1u"}
        %span.image.fit
          %img{:alt => "", :src => "images/logopia.png"}/
      .7u{:class => "12u(mobile)"}
        %br
        %br
        %header
          %h1
            %strong VetLínea
        %p
          Documentos de referencia veterinarios
.wrapper.style3
  %article
    .row
      .12u
        .subheader
          Bienvenidos a
          %b VetLínea,
          sitio que tiene como primer objetivo la divulgación libre de información
          médica veterinaria. Todos nuestros documentos están hechos por
          profesionales acordes al tema que se expone, cuyas intenciones de promover
          el conocimiento son sinceras y entusiastas. Nuestras publicaciones
          están protegidas por
          %a{href: "http://creativecommons.org/licenses/by-nc-sa/4.0/"}Creative Commons,
          que impide utilizar el documento sin ser citado adecuadamente, pero de
          ninguna forma es una restricción a la divulgación y uso de estos documentos,
          incluso pudiendo modificarse.
          Nuestro sitio no tiene fines comerciales, por lo que pedimos que lo respetes
          y le des un buen uso a nuestro material.

/ Docs
.wrapper.style2
  %article#docs
    %header
      %h2 Documentos
    .container
      .row.articles
        - docs.each do |key, doc|
          .4u{:class => "12u(mobile)"}
            .box
              %a.image.download-document{href: "#", data: {document: key, name: doc['name']}}
                %img{:alt => "", :src => "docs/img/#{doc['img']}", width: "50%"}/
            = doc['description']
/ Info
.wrapper.style1
  %article#top.container
    .row
      .12u
        .subheader
          %h3 Pía Chang, web owner
          %img{:alt => "", :src => "images/pia.png", style: "float: right"}/
          Soy una amante del ballet, la artesanía, los rollos de canela,
          las papas fritas, los perros y gatos, sobretodo de los perros salchicha
          y los gatos rojos. En mis tiempos libres me gusta salir con mi  familia
          (somos dos humanos y dos perritas), tejer, cocinar, y dormir.
          Amo aprender cosas nuevas y odio no encontrar información, idea de la
          cual surge mi sitio.
          En 2011 me gradué de medicina veterinaria en la Universidad De Chile,
          estoy diplomada en medicina de pequeños animales y en imagenología de
          pequeños animales. Tengo un curso de acreditación LAVECCS ABC trauma y
          ABC cuidados intesivos, cursos de especialización de pre y post grado
          en medicina interna de pequeños animales.
          Mis áreas de desarrollo son medicina Interna de perros y gatos e
          imagenología, con énsafisis en ultrasonografía. Actualmente trabajo en
          un hospital veterinario como médico interno y radióloga y la mayor
          parte del tiempo como ecografista en Santiago y Viña del Mar.
/ Contact
.wrapper.style4
  %article#contact.container{:class => "75%"}
    %header
      %h2 Contacto.
      %p
        ¿Te gustaría ver un documento de otro tema?, ¿Quieres escribir un documento de referencia?, ¿Requieres servicios de diagnóstico por imágenes?
        ¡Escríbeme!
    %div
      .row
        .12u
          %form{:action => "#", :method => "post"}
            %div
              .row
                .6u{:class => "12u(mobile)"}
                  %input#name{:name => "name", :placeholder => "Nombre", :type => "text"}/
                .6u{:class => "12u(mobile)"}
                  %input#email{:name => "email", :placeholder => "Email", :type => "text"}/
              .row
                .12u
                  %input#subject{:name => "subject", :placeholder => "Asunto", :type => "text"}/
              .row
                .12u
                  %textarea#message{:name => "message", :placeholder => "Mensaje"}
              .row{:class => "200%"}
                .12u
                  %ul.actions
                    %li
                      %input{:type => "submit", :value => "Enviar Mensaje"}/
                    %li
                      %input.alt{:type => "reset", :value => "Limpiar"}/
    %footer
      %ul#copyright
        %li &#169; Untitled. All rights reserved.
        %li
          Design:
          %a{:href => "http://html5up.net"} HTML5 UP
